img{
	max-width: 100%;
}
.navbar-brand{
	max-width: 150px;
}


body{
	background: #ddd;
}


nav{
	position: fixed;
}

header{
	background-color: #f14d91;
	padding: 100px;
	text-align: center;
	
}

header h1{
	color: white;
    font-size: 60px;
    text-shadow: 2px 7px 0 #0003;
    font-weight: 700;
}

.signup_section{
	padding: 50px 0;
	

}




.login_section{}



.login_section .row{
	height: 100vh;
  
    align-items: center;
}













